<fieldset>
	<!-- Name input-->
	<div class="form-group">
		<label class="col-md-3 control-label" for="name">Name</label>
		<div class="col-md-9">									
		<%= f.text_field :name, class: "form-control", placeholder: "Name"%>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-3 control-label" for="name">Directory</label>
		<div class="col-md-9">									
		<%= f.text_field :directory, class: "form-control", placeholder: "Directory"%>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-3 control-label" for="name">Exclusion</label>
		<div class="col-md-9">									
		<%= f.text_field :exclusion, class: "form-control", placeholder: "Exclusion"%>
		</div>
	</div>

	<!-- Form actions -->
	<div class="form-group">
		<div class="col-md-12 widget-right">										
			<%= f.submit "Save", class: "btn btn-default btn-md pull-right"%>
		</div>
	</div>
</fieldset>