<div class="row">
	<div class="col-xs-12 col-md-6 col-lg-3">
		<div class="panel panel-blue panel-widget ">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<svg class="glyph stroked clipboard with paper">
						<use xlink:href="#stroked-clipboard-with-paper"/>
					</svg>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">120</div>
					<div class="text-muted">Profiles</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<div class="panel panel-orange panel-widget">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<svg class="glyph stroked blank document">
						<use xlink:href="#stroked-blank-document"/>
					</svg>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">52</div>
					<div class="text-muted">Files</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<div class="panel panel-teal panel-widget">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">24</div>
					<div class="text-muted">New Users</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-6 col-lg-3">
		<div class="panel panel-red panel-widget">
			<div class="row no-padding">
				<div class="col-sm-3 col-lg-5 widget-left">
					<svg class="glyph stroked internal hard drive">
						<use xlink:href="#stroked-internal-hard-drive"/>
					</svg>
				</div>
				<div class="col-sm-9 col-lg-7 widget-right">
					<div class="large">25.2k</div>
					<div class="text-muted">Storage</div>
				</div>
			</div>
		</div>
	</div>
</div><!--/.row-->
