<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Backupapp</title>
    <%= csrf_meta_tags %>      
    <%= stylesheet_link_tag    'style', 'reset' %>
    <%= javascript_include_tag 'prefixfree.min' %>  
  </head>
  <body>
    <%= yield %>
  </body>
</html>
